.no-gutters {
    padding-left: 0px;
    padding-right: 0px;
}

.banner {
    background-image: url();
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
}

.display-1 {
    font-size: 2.5rem;
}

.lead {
    font-size: 1rem;
}

main {
    background-color: ivory;
    color: black;
}

.main {
    width: 100px;
}

.banner_icons {
    background-color: red;
}

.navbar {
    background-color: ivory;
}
